/*Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
    max-width: 2080px;
    --dark-purple: #21094e;
}

/*styles*/
body{
    background: black;
}

nav{
    height: 4em;
    padding: 0 2em;
    background: rgba(0, 0, 0, 0.8);
    position: sticky;
    top: 0px;
    width: 100%;
    z-index: 99;
}

.menu_mobile{
    position: relative;
    width: auto;
    padding: 0em 0.5em 0.2em 0.5em;
    margin: 1em;
    background: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    font-weight: 900;
    border: solid #ce1212;
    border-radius: 10%;
    transition: 0.25s;
    transform: scaleY(0.7) rotate(90deg);
    display: none;

}

.menu_mobile:hover,
.menu_mobile:focus{
    background: #eeebdd;
    color: #ce1212;
}

.nav-option{
    color: rgba(255,255,255,1);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    text-shadow: 0.1em 0.1em 0.1em rgb(0, 187, 162);
    transition: 0.25s;
    position: relative;
}

.nav-option:hover{
    transform: scale(1.2);
}

.nav-option:hover::before{
    content: "";
    position: absolute;
    pointer-events: none;

    height: 0.1em;
    width: 100%;
    background-color: #ce1212;
    top: 100%;
}

.tag{
    background-color: white;
    border-radius: 1em;
    position: fixed;
    bottom: 1em;
    right: 1em;
    z-index: 999;
    transition: 0.25s;
}

.main{
    position: absolute;
    top: 0;
    min-height: 50em;
    width: 100%;
    background: none;
    z-index: 1;
}

.main-text{
    color: white;
    font-weight: 500;
    font-size: 1.5rem;
    text-shadow: 0.1em 0.1em 0.1em rgb(0, 0, 0);
}

.skewed {
    position: relative;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: none;
    z-index: 0;
    transform: skewY(4deg);
    transform-origin: top right;
}

.section{
    padding-top: 5em;
}

#services{
    background: #27212167;
    width: 100%;
}
/* Sections */
#portfolio{
    background: url(../images/desk.jpg) 0%;
    width: 100%;
}

#contact{
    background: #27212167;
    width: 100%;
    min-height: 60em;
}

ul{
    list-style: none;
    flex-wrap: wrap;
}

li{
    padding: 0em 1em;
}

h1,h2,h3{
    color: white;
    text-shadow: 0.2em 0.2em 0.1em rgba(255,255,255,0.1);
    padding: 0.5em 0.2em;
    display: block;
}

h1{
    font-size: 2.5em;
}

h2{
    font-size: 3em;
}

h3{
    color:rgb(0, 0, 0);
    font-size: 2em;
}

h4{
    color: white;
    text-shadow: 0.1em 0.1em 0.1em black;
    font-size: 2em;
}

a{
    display: inline-block;
    text-decoration: none;
}

label{
    color: white;
    font-size: 1.5em;
    font-weight: 600;
}

.p{
    color: black;
    line-height: 1.5em;
    font-size: 1.5em;
    padding: 0 0.5em;
}

.me{
    border-radius: 1em;
    position: relative;
    max-height: 30em;
    box-shadow: 1em 1em 1em rgba(0,0,0,0.5);
}

.card{
    border: 0.25em solid white;
    box-shadow: 0 0 1em black;
    background: white;
    margin: 3em 1em 3em 1em;
    flex-wrap: wrap;
    width: 20em;
    height: 30em;
    overflow: hidden;
    position: relative;
    transition: 0.5s;
}

.card:hover{
    box-shadow: 0 0 0.5em #810000;
} 

.card:hover .card-obj{
    filter: blur(5px);
}

.card::before{
    background: rgba(0, 0, 0, 0.8);
    content: "";
    position: absolute;
    pointer-events: none;
    top: 0%;
    width: 0%;
    height: 50%;
    right: 100%;
    transition: 0.5s;
    overflow: hidden;
    background-position: center;
    z-index: 10;
}

.card::after{
    background: rgba(0, 0, 0, 0.8);
    content: "";
    position: absolute;
    pointer-events: none;
    width: 0%;
    height: 50%;
    top: 50%;
    left: 100%;
    transition: 0.5s;
    overflow: hidden;
    background-position: center;
    z-index: 10;
}

.card:hover::after{
    width: 100%;
    left: 0%;
}

.card:hover::before{
    width: 100%;
    right: 0%;
}

.card:hover img{
    opacity: 0.2;
}

img{
    max-width:100%;
    transition: 0.5s;
}

.service{
    height: 4em;
    max-width: 5em;
}

.hidden{
    position: absolute;
    font-size: 2em;
    font-weight: 600;
    bottom: 8em;
    padding: 0 0.2em;
    display: none;
    color: rgba(170, 131, 22, 1);
    text-shadow: 0.1em 0.1em 0.2em #810000;
}

.card:hover .hidden{
    display: block;
    z-index: 999;
    filter: 0px;
}

.hidden::before{
    position: absolute;
    content: "";
    pointer-events: none;
    top: 100%;
    width: 100%;
    height: 0.2em;
    background: 0.5em red;
}

.card:hover .hidden::before{
    width: 90%;

}

.cv{
    position: relative;
    margin: 1em;
    color: white;
    font-size: 1.5em;
    border: 0.1em solid rgba(170, 131, 22, 1);
    padding: 0.2em 0.5em;
    display: block;
}

.cv:hover .overlay{
    bottom: 0;
    height: 101%;
}

.icon{
    max-width: 1.5em;
}

.overlay{
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: rgba(170, 131, 22, 1);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.polaroid{
    margin: 1em;
    padding: 0em 0.5em;
    box-shadow: 0 0 1em;
    border-radius: 0.5em;
    transition: 0.5s;
    height: 7em;
    width: 90%;
    border: 0.2em solid rgba(163, 139, 0, 0.863);
    flex-wrap: wrap;
    overflow: hidden;
}

.polaroid:hover{
    transform: rotate(0deg) scale(1.02);
    box-shadow: 0 0 0.5em rgb(255, 255, 0) inset;
    z-index: 9;
}

.inner-polaroid{
    margin: 0% 5%;
    max-width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1em;
}

.bar{
    font-weight: 600;
    position: relative;
    width: 70%;
}

.bar::before{
    content: "";
    position: absolute;
    pointer-events: none;

    height: 1em;
    width: 100%;
    background-color: gray;
    top: 100%;
}

.progress-89,
.progress-100,
.progress-85,
.progress-70{
    content: "";
    position: absolute;
    pointer-events: none;
    height: 30%;
    font-size: 0.5em;
    background: rgb(36,13,0);
    background: linear-gradient(90deg, rgba(36,13,0,1) 0%, rgba(121,9,9,1) 35%, rgba(255,149,0,1) 100%);
    top: 100%;
}

.progress-100{
    width: 100%;
}
.progress-70{
    width: 70%;
}
.progress-85{
    width: 85%;
}
.progress-89{
    width: 89%;
}

.offer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1em 0.5em;
    min-width: 15em;
    transition: 0.5s;
    margin: 1em;
}

.message{
    height: 30em;
}

.badge{
    height: 10em;
    width: 100%;
    padding: 0.5em;
    box-shadow: 0.1em 0.1em 1em black;
}

.badge-head{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0.5em;
    position: relative;
    background-color: rgb(0, 119, 255);
    height: 50%;
    width: 100%;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

.badge-body{
    position: relative;
    background-color: white;
    height: 50%;
    width: 100%;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}

.profile-pic{
    position: absolute;
    top: 20%;
    left: 5%;
    height: 7em;
    border-radius: 50%;
    z-index: 1;
    border:0.1em solid rgb(255, 255, 255)
}

.linkedin-button{
    position: absolute;
    bottom: 20%;
    right: 5%;
    background-color: rgb(0, 132, 255);
    color: white;
    padding: 0.2em 1em;
    font-weight: 900;
    border: none;
    border-radius: 0.5em;
}

.linkedin-button:hover,
.linkedin-button:focus{
    box-shadow: 0.1em 0.1em 0.5em black;
}

.linkedin{
    position: absolute;
    top: 10%;
    right: 10%;
    width: 5em;
}